@charset "utf-8";

* {
  outline: 0 !important;
}
img {
    vertical-align: bottom; 
    border: 0;
}
html,
body {
    font-family: 'PT Sans', sans-serif;
    color: #566876;
}
a {
    text-decoration: none;
}
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #c49f56;
}
p {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 22px;
}
.container-fluid,
.container,
.row {
	height: 100%;
}
.container-fluid--b {
    max-width: 1740px;
}
.container-fluid--m {
    max-width: 1460px;
}
.container-fluid--s {
    max-width: 860px;
}
.row-no-height {
    height: auto;
}
.svg-block {
    line-height: 0;
}



/* headers */
h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Serif', serif;
}
h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 84px;
}
h2 {
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
}
.header__content {
    margin-bottom: 80px;
}
.header__content h1,
.header__content h2,
.header__content h3,
.header__content h4,
.header__content h5,
.header__content h6 {
    margin-bottom: 10px;
}
.header__text {
    font-size: 18px;
    line-height: 22px;
}



/* buttons */
.standart-button {
    display: inline-block;
    width: 360px;
    max-width: 100%;
    height: 53px;
    background: none;
    border: 2px solid transparent;
    border-radius: 28px;
    font-weight: 700;
    font-size: 18px;
}
.standart-button svg {
    margin-left: 10px;
}

.standart-button__fill {
    background: #c49f56;
    border: 2px solid #c49f56;
    color: #fff;
}
.standart-button__fill svg g {
    fill: #fff;
}
.standart-button__fill:hover,
.standart-button__fill:active,
.standart-button__fill:focus {
    background: transparent;
    border: 2px solid #c49f56;
    color: #c49f56;
}
.standart-button__fill:hover svg g,
.standart-button__fill:active svg g,
.standart-button__fill:focus svg g {
    fill: #c49f56;
}

.standart-button__empty {
    background: transparent;
    border: 2px solid #c49f56;
    color: #c49f56;
}
.standart-button__empty svg g {
    fill: #c49f56;
}
.standart-button__empty:hover,
.standart-button__empty:active,
.standart-button__empty:focus {
    background: #c49f56;
    border: 2px solid #c49f56;
    color: #fff;
}
.standart-button__empty:hover svg g,
.standart-button__empty:active svg g,
.standart-button__empty:focus svg g {
    fill: #fff;
}



/* mobile-menu */
.mobile-menu__trigger,
.mobile-menu__close {
    display: block;
    padding: 10px;
    cursor: pointer;
}
.mobile-menu__close svg {
    fill: #fff;
}
.mobile-menu__trigger:hover svg g,
.mobile-menu__close:hover svg g {
    fill: #c49f56;
}
.mobile-menu {
	display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(86,104,116,1);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9990;
}
.mobile-menu > .container {
	height: calc(100% - 100px);
}
.mobile-menu__content-item + .mobile-menu__content-item {
    margin-top: 10px;
}
.mobile-menu__menu-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
}



/* topping */
.topping {
	height: 100px;
}
.topping > .container-fluid > .row > div:first-child {
	line-height: 0;
}
.topping__logo {
    display: inline-block;
}
.mobile-menu .topping__logo svg g {
    fill: #fff;
}
.topping__logo:hover svg g {
    fill: #c49f56;
}
.topping__cart {
    display: block;
}
.mobile-menu .topping__cart svg g {
    fill: #fff;
}
.topping__cart:hover svg g {
    fill: #c49f56;
}
.topping__link {
    font-size: 16px;
    line-height: 16px;
    color: #566876;
}
.mobile-menu .topping__link {
    color: #fff;
}
.mobile-menu .topping__link:hover {
    color: #c49f56;
}
.topping__link + .topping__link {
    margin-left: 30px;
}



/* main */
.main {
    height: 100vh;
    background-image: radial-gradient(circle at 50% 29%, #dee3e7, #dee3e7 37%, #d2dce5);
}
.main__arrow {
	position: absolute;
    left: 50%;
    bottom: 15px;
    margin-left: -35px;
}
.main__arrow svg {
	fill: #566876;
}
.swiper-main {
	height: calc(100% - 200px);
}
.swiper-container--main {
    height: 100%;
}
.swiper-main__item {
    height: 100%;
}
.swiper-main__header {
    margin-bottom: 50px;
}
.swiper-main__img {
    height: 30vh;
    margin-bottom: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.swiper-button-prev--main,
.swiper-button-next--main {
    opacity: 1;
    width: 55px;
    height: 55px;
    background: none;
    left: 0;
    margin-top: -28px;
}
.swiper-button-next--main {
    left: auto;
    right: 0;
}



/* prizes */
.prizes {
	padding-top: 120px;
    padding-bottom: 90px;
}
.prizes__content > .row > div {
    padding-bottom: 30px;
}
.prizes__item {
    height: 100%;
    padding: 30px;
    background: #fff;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(234, 239, 243, 0.66)), to(rgba(255, 255, 255, 0)));
    background-image: linear-gradient(to right, rgba(234, 239, 243, 0.66), rgba(255, 255, 255, 0));
    -webkit-box-shadow: 0 2px 14px 0 rgba(86, 104, 118, 0.25);
    box-shadow: 0 2px 14px 0 rgba(86, 104, 118, 0.25);
}
.prizes__item .standart-button {
	width: 100%;
}
.prizes__item-img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.prizes__item-header {
    display: block;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #566876;
    text-transform: uppercase;
}
.prizes__item-scale {
    display: block;
    height: 20px;
    margin-bottom: 25px;
    background: transparent;
    border: 1px solid rgba(86,104,116,0.25);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.prizes__item-scale span {
    display: block;
    height: 100%;
    background: #c49f56;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
}
.prizes__item-scale span:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 18px solid #c49f56;
    position: absolute;
    right: -10px;
    top: 0;
}
.prizes__item-amount {
    width: 100%;
    height: 51px;
    margin-bottom: 15px;
    padding: 0 20px;
    background: transparent;
    border: 1px solid rgba(86,104,116,0.25);
    border-radius: 28px;
    font-size: 16px;
    line-height: 16px;
    color: #566876;
}
.prizes__item-text {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 16px;
    color: rgba(86,104,116,0.75);
}



/* winners */
.winners {
	padding-top: 120px;
    padding-bottom: 90px;
    background: url('img/winners-back.jpg') center center no-repeat;
    background-size: cover;
}
.swiper-container--winners {
    margin-bottom: 80px;
}
.winners__item {
    height: 100%;
    padding: 30px;
    background: #fff;
    -webkit-box-shadow: 0 2px 14px 0 rgba(86, 104, 118, 0.25);
    box-shadow: 0 2px 14px 0 rgba(86, 104, 118, 0.25);
    border-top: 4px solid #c49f56;
}
.winners__item-img {
    width: 300px;
    max-width: 100%;
    height: 300px;
    margin: 0 auto 25px auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
}
.winners__item-line {
	margin-bottom: 10px;
    color: rgba(86,104,116,0.75);
    font-size: 16px;
    line-height: 18px;
}
.winners__item-line svg {
    height: 14px;
    margin-right: 10px;
}
.winners__item-line svg g {
    fill: rgba(86,104,116,0.75);
}
.winners__item-value {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}
.swiper-pagination--winners {
    width: 100%;
    position: static;
}
.swiper-pagination--winners .swiper-pagination-bullet {
    opacity: 1;
    width: auto;
    height: auto;
    margin: 0 5px;
    padding: 0 5px;
    background: none;
    border-bottom: 4px solid #566876;
    border-radius: 0;
    font-size: 16px;
    line-height: 26px;
    color: rgba(86,104,116,0.75);
    position: relative;
    bottom: 0;
    -webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.swiper-pagination--winners .swiper-pagination-bullet-active {
    border-bottom: 4px solid #c49f56;
    bottom: 10px;
}



/* about us */
.about-us {
	padding-top: 120px;
    padding-bottom: 120px;
}
.about-us .text-block {
	margin-bottom: 60px;
}
.about-us__img {
    width: 500px;
    height: 500px;
    margin-right: 40px;
    border: 7px solid #c49f56;
    position: relative;
}
.about-us__img-content {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 40px;
    top: 40px;
}



/* footer */
.footer {
	padding-top: 100px;
    padding-bottom: 40px;
    background: url('img/footer-back.jpg') center center no-repeat;
    background-size: cover;
}
.footer__logo {
    display: inline-block;
    margin-bottom: 60px;
}
.footer__menu {
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #c49f56;
}
.footer__menu-link {
    display: inline-block;
    font-size: 16px;
    line-height: 36px;
    color: #566876;
}
.footer__soc {
    margin-bottom: 80px;
}
.footer__soc-link:hover svg g {
    fill: #c49f56;
}
.footer__copyright {
    font-size: 12px;
    line-height: 12px;
}



@media (max-width: 1499px) {
    /* headers */
    h1 {
        font-size: 42px;
        line-height: 52px;
    }
    h2 {
        font-size: 36px;
        line-height: 46px;
    }
}
@media (max-width: 1199px) {
    /* about us */
    .about-us__img {
        margin: 0 auto 60px auto;
    }
}
@media (max-width: 991px) {
    /* mobile-menu */
    .mobile-menu > .container {
        height: calc(100% - 60px);
    }
    
    
    /* headers */
    h1 {
        font-size: 30px;
        line-height: 40px;
    }
    h2 {
        font-size: 24px;
        line-height: 34px;
    }
    .header__content {
        margin-bottom: 30px;
    }
    
    
    /* buttons */
    .standart-button {
        height: 43px;
        border-radius: 23px;
        font-size: 16px;
    }
    
    
    /* topping */
    .topping {
        height: 60px;
    }
    
    
    /* main */
    .swiper-main {
        height: calc(100% - 60px);
    }
    .swiper-main__header {
        margin-bottom: 20px;
    }
    .swiper-main__img {
        margin-bottom: 20px;
    }
    
    
    /* prizes */
    .prizes {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .prizes__item-amount {
        height: 41px;
    }
    
    
    /* winners */
    .winners {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    
    
    /* about-us */
    .about-us {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .about-us .text-block {
        margin-bottom: 30px;
    }
    
    
    /* footer */
    .footer {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .footer__logo {
        margin-bottom: 30px;
    }
    .footer__soc {
        margin-bottom: 40px;
    }
}
@media (max-width: 767px) {
    
}
@media (max-width: 575px) {
    /* prizes */
    .prizes__item {
        padding: 15px;
    }
    .prizes__item-img {
        height: 220px;
    }
    .prizes__item-header {
        margin-top: 15px;
    }
    .prizes__item .standart-button {
	    width: 100%;
    }
    
    
    /* winners */
    .swiper-container--winners {
        margin-bottom: 30px;
    }
    .winners__item {
        padding: 15px;
    }
    .winners__item-img {
        width: 220px;
        height: 220px;
    }
    .swiper-pagination--winners .swiper-pagination-bullet {
        margin: 0 3px;
        padding: 0 3px;
    }
    
    
    /* about us */
    .about-us__img {
        width: calc(100vw - 30px);
        max-width: 420px;
        height: calc(100vw - 30px);
        max-height: 420px;
        margin-bottom: 30px;
        border: none;
    }
    .about-us__img-content {
        left: 0;
        top: 0;
    }
    
    
    /* footer */
    .footer__logo {
        margin-bottom: 20px;
    }
    .footer__logo svg {
        width: 83px;
        height: 23px;
    }
}


@media (max-height: 479px) {
    /* headers */
    h1 {
        font-size: 20px;
        line-height: 28px;
    }
    h2 {
        font-size: 16px;
        line-height: 24px;
    }
}